@import "tailwindcss";

@theme {
  --shadow-fixed: 0 0 10px 5px;
  --color-bg-logo-1: #0C8291;
  --color-bg-logo-2: #D9011A;
  --color-bg-logo-3: #FEBD18;
  --color-bg-logo-4: #01315C;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;

  --primary: var(--color-slate-800);
  --secondary: var(--color-red-700);
  --text-color: var(--color-white);

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: calc(var(--spacing) * 5);
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary);
    background-color: var(--text-color);
  }
}
